.conteiner-calculadora h2 {
    color: #c0d8e0;
    margin-bottom: 20px;
}

.conteiner-calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 475px;
    height: 350px;
    margin: 30px auto;
    background-color: #22223b;
    color: black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #c0d8e0;
}

.campo-calculadora {
    width: 75%;
    padding: 5px;
    margin: 10px 0px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 2px #c0d8e0;
}

.botao-calculadora {
    width: 75%;
    padding: 10px;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 600;
    background-color: #a6c5dd;
    color: #22223b;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #636b61;
}

.mensagem-calculadora {
    width: 75%;
    height: 30px;
    padding: 5px;
    margin: 10px 0px;
    box-shadow: 1px 1px 2px #c0d8e0;
    background-color: white;
    border-radius: 5px;
}

.operacao-calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a6c5dd;
    width: 300px;
}

.operacao-calculadora label {
    padding: 5px 15px;
}