.conteiner-calculadora h2 {
    color: #c0d8e0;
    margin-bottom: 20px;
}

.conteiner-calculadora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #0096c7 , #caf0f8);
    width: 75%;
    height: 300px auto;
    margin: 20px auto;
    border: 10px;
    padding: 5px;
    border-radius: 15px;
}

.campo-calculadora{
    width: 75%;
    height: 30px;
    padding: 5px;
    margin: 10px 0px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #c0d8e0;
}

.botao-calculadora{
    font-size: 16px;
    width: 250px;
    height: 30px;
    background-color: whitesmoke;
    color: black;
    border-radius: 50px;
    box-shadow: 2px, 2px, 2px;
}

.resultado{
    width: 75%;
    height: 30px;
    padding: 5px;
    margin: 10px 0px;
    box-shadow: 1px 1px 2px #c0d8e0;
    background-color: white;
    border-radius: 5px;
}

.operacao-calculadora{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a6c5dd;
    width: 300px;
}

.operacao-calculadora label {
    padding: 5px 15px;
}